.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/Background.JPG');
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Apply blur effect only to the pseudo-element */
    z-index: -1;
  }
  